<meta charset="utf-8" />
@model Seller
@{
    ViewBag.Title = "Авторизация";
}
<div class="pazmiv"></div>
<div class="authWindow">
    <form method="post">
        <div class="authHeader">
            <div class="title">
                <label>Авторизация</label>
            </div>
            <div class="close">x</div>
        </div>
        <div class="login">
            <div class="desc-auth">
                <div class="editor-label">
                    @Html.LabelFor(model => model.email)
                </div>
                <div name="email" class=" editor-field textbox" required>
                    @Html.EditorFor(model => model.email, new { @class = "form-control", @required = "required" })

                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

        </div>
        <div class="password">
            <div class="desc-auth">
                <div class="editor-label">
                    @Html.LabelFor(model => model.password)
                </div>
                <div name="password" class=" editor-field textbox" input required>

                    @Html.EditorFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
        </div>
        <div class="second password">
            <div class="desc-auth">
                <label>Повторите пароль</label>
                <input name=" secPass" class="editor-field textbox" />
            </div>
            <div class="submitDiv">
                <button type="submit" class="submitBtn">Войти</button>
            </div>
        </div>
    </form>
</div>