<meta charset="utf-8" />
@model Kenguru_four_.Models.SellerIVM
@{
    ViewBag.Title = "Авторизация";
}
@section links{
    <link rel="stylesheet" href="~/Content/Auth.css">
}
<div class="authWindow">
    <form method="post">
        <div class="authHeader">
            <div class="title">
                <label>Авторизация</label>
            </div>
            <div class="close">x</div>
        </div>
        <div class="login">
            <div class="desc-auth">
                <div class="editor-label">
                    @Html.LabelFor(model => model.seller.email)
                </div>
                <div name="email" class=" editor-field textbox" required>
                    @Html.EditorFor(model => model.seller.email, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.seller.email)
                </div>
            </div>

        </div>
        <div class="password">
            <div class="desc-auth">
                <div class="editor-label">
                    @Html.LabelFor(model => model.password)
                </div>
                <div name="password" class=" editor-field textbox" input required>
                    @Html.EditorFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
        </div>
        <div class="secPassword">
            <div class="desc-auth">
                <div class="editor-label">
                    @Html.LabelFor(model => model.secPassword)
                </div>
                <div name="secPassword" class=" editor-field textbox" input required>
                    @Html.EditorFor(model => model.secPassword)
                    @Html.ValidationMessageFor(model => model.secPassword)
                </div>
            </div>
        </div>
        <div class="submitDiv">
            <button type="submit" class="submitBtn">Войти</button>
        </div>
    </form>
</div>