@{
    Layout = "~/Views/Shared/ViewSeller.cshtml";
    ViewBag.Title = "Orders";
}
    <div class="sorting">
        <div class="parametr parametr-first">
            дата
        </div>
        <div class="parametr">
            наименование
        </div>
        <div class="parametr">
            количество
        </div>
        <div class="parametr">
            стоймость
        </div>
        <div class="parametr">
            адрес доставки
        </div>
        <div class="parametr">
            статус
        </div>
    </div>

    <table class="">
        @foreach (Order order in ViewBag.Orders)
        {
        <tr class="">

            <td class="">
                @order.time
            </td>

            <td class="">
                @order.good.title
            </td>

            <td class="">
                @order.count
            </td>

            <td class="">
                @order.good.title
            </td>

            <td class="">
                @order.good.price
            </td>

            <td class="">
                @order.adress
            </td>

            <td class="">
                @order.status
            </td>

            <div class="">
                <a href="@Url.Action( Url.Content("~/orderinfo"), new {IdOrder = order.id} )"> подробнее </a>
            </div>
            
        </tr>
        }
    </table>
        


