
@{
    ViewBag.Title = "Report";
    GoodReport MainReport = ViewBag.MainReport;
    List<GoodReport> AllReport = ViewBag.AllReport;
    Layout = "~/Views/Shared/ViewSeller.cshtml";

    List<string> dropList = new List<string>();


    for (DateTime start = ViewBag.Seller.Time; start < DateTime.Now; start = start.AddMonths(1))
    {
        dropList.Add(
            start.Year + "/" + @String.Format("{0:d2}", start.Month) + "/01 - " +
            start.AddMonths(1).Year + "/" + @String.Format("{0:d2}", start.AddMonths(1).Month) + "/01"
        );
    }
    dropList.Reverse();
}

<form action="/seller/controlreport" method="post">
    @Html.DropDownList("radius", new SelectList(dropList))
    @Html.CheckBox("showAll", true)
    <label for="contactChoice3">За все время</label>
    <button type="submit">Сфорипировать отчёт</button>
</form>


<table>
    <tr>
        <td>Заказов вскего</td>
        <td>@MainReport.orders </td>
    </tr>

    <tr>
        <td>Товаров продано</td>
        <td>@MainReport.sell</td>
    </tr>

    <tr>
        <td>Стоймость проданного товара</td>
        <td>@MainReport.money </td>
    </tr>

</table>

<table>
    <tr>
        <td> товар </td>
        <td> заказов</td>
        <td> продано </td>
        <td> стоймость </td>
    </tr>
    @foreach (GoodReport report in AllReport)
    {

        <tr>
            <td> @report.good.title </td>
            <td> @report.orders </td>
            <td> @report.sell </td>
            <td> @report.money </td>
        </tr>
    }
</table>

