
@{
    List<string> dropList = new List<string>();
    Layout = "~/Views/Shared/ViewSeller.cshtml";

    for (DateTime start = ViewBag.Seller.Time; start < DateTime.Now; start = start.AddMonths(1))
    {
        dropList.Add(
            start.Year + "/" + @String.Format("{0:d2}", start.Month) + "/01 - " +
            start.AddMonths(1).Year + "/" + @String.Format("{0:d2}", start.AddMonths(1).Month) + "/01"
        );
    }
    dropList.Reverse();
}

<script type="text/javascript">
    function OnBegin() {
        $("#result").html("");
    }

</script>




@using (Ajax.BeginForm("ReportTable", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loadimg", LoadingElementDuration = 1, OnBegin = "OnBegin" } ))
{
    @Html.DropDownList("radius", new SelectList(dropList))
    @Html.CheckBox("showAll", false)
    <label for="contactChoice3" >За все время</label>
    <input type="submit"/>
}


<div id="loadimg" style="display:none;">
    <div class = "waiting">
        <img src="https://i.gifer.com/y4.gif">
        <h2>Данные загружаются</h2>
    </div>
</div>


<div id="result">
</div>


@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")




