@model Kenguru_four_.Models.IndexViewModel
@using Kenguru_four_.Models
@using Kenguru_four_.htmlHelpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section search{
    @Model.PageInfo.Search
}

<div class="sorting">
    <div class="parametr parametr-first">
        @if (Model.PageInfo.sortBy == 1)
        {
            @Html.ActionLink("Наименование ▼", "Index", new { sortBy = 2 })
        }
        else if (Model.PageInfo.sortBy == 2)
        {
            @Html.ActionLink("Наименование ▲", "Index", new { sortBy = 1 })
        }
        else
        {
            @Html.ActionLink("Наименование", "Index", new { sortBy = 1 })
        }
    </div>
    <div class="parametr">
        @if (Model.PageInfo.sortBy == 11)
        {
            @Html.ActionLink("Стоимость ▼", "Index", new { sortBy = 12 })
        }
        else if (Model.PageInfo.sortBy == 12)
        {
            @Html.ActionLink("Стоимость ▲", "Index", new { sortBy = 11 })
        }
        else
        {
            @Html.ActionLink("Стоимость", "Index", new { sortBy = 11 })
        }
    </div>
    <div class="parametr">
        @if (Model.PageInfo.sortBy == 21)
        {
            @Html.ActionLink("Количество товара ▼", "Index", new { sortBy = 22 })
        }
        else if (Model.PageInfo.sortBy == 22)
        {
            @Html.ActionLink("Количество товара ▲", "Index", new { sortBy = 21 })
        }
        else
        {
            @Html.ActionLink("Количество товара", "Index", new { sortBy = 21 })
        }
    </div>
    <div class="parametr">
        @if (Model.PageInfo.sortBy == 31)
        {
            @Html.ActionLink("Рейтинг продавца ▼", "Index", new { sortBy = 32 })
        }
        else if (Model.PageInfo.sortBy == 32)
        {
            @Html.ActionLink("Рейтинг продавца ▲", "Index", new { sortBy = 31 })
        }
        else
        {
            @Html.ActionLink("Рейтинг продавца", "Index", new { sortBy = 31 })
        }
    </div>
</div>


<div class="glass-case">
    @if (Model != null)
    {
        foreach (Good curent in Model.Goods)
        {
            <div class="goods">

                @{
                    string filePath = Url.Content("~/upload/" + curent.id + "/main.png");
                }
                <div class="goods-field goods-intro goods-col" style="background-image: url(@filePath); ">
                </div>
                <div class="goods-right goods-col">
                    <div class="goods-info goods-field goods-line">
                        <div class="goods-info-title">@curent.title</div>
                        <div class="goods-info-short">@curent.short_discribe</div>
                    </div>
                    <div class="goods-line" style="display:flex; flex-flow:row;">
                        <div class="goods-price goods-field">Цена: @curent.price</div>
                        <div class="goods-seller goods-field">
                            @if (curent.seller != null)
                            {
                            Продавец:<a> @curent.seller.name </a>
                        }
                        </div>
                    </div>

                </div>
                <div class="goods-buttons goods-col">
                    <a href="~/Good/Index/@curent.id" class="button-main button-sell">
                        Подробнее
                    </a>
                    <!--создает форму, отправка которой добавляет список в корзину-->
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("id", curent.id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="button-main button-sell" value="В корзину">

                    }
                </div>


            </div>

        }
        <div class="btn-group text-center">

            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>
    }
</div>
