@model goods
@{
    ViewBag.Title = "Goods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links{
    <link rel="stylesheet" href="~/Content/Good.css">
}


<div class="content">
    @{
        string imgUrl = Url.Content("~/upload/" + Model.id + "/main.png");
    }
    <div class="image" style="background-image:url(@imgUrl)"></div>
    <div class="info">
        <div class="title">@Model.title</div>
        <div class="price">@Model.price <label style="font-size:30px">ГРiВеНъ</label></div>
        <div class="desc">
            <div>Описание:</div>
            <div>@Model.description</div>

        </div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.Hidden("id", Model.id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="button-main addToCartBtn" value="В корзину">

        }
    </div>
</div>