@model Kenguru_four_.Models.IndexViewModel
@using Kenguru_four_.Models
@using Kenguru_four_.htmlHelpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="prioritet">
    <a class="porametr porametr-first">
        наименование ▼
    </a>
    <a class="porametr">
        стоймость –
    </a>
    <a class="porametr">
        кол-во продаж –
    </a>
    <a class="porametr">
        рейтинг продавца –
    </a>
</div>


<div class="glass-case">
    @if (Model != null)
    {
        foreach (goods curent in Model.Goods)
        {
            <div class="goods">

                @{
                    string filePath = Url.Content("~/upload/" + curent.id + "/main.png");
                }
                <div class="goods-field goods-intro" style="background-image: url(@filePath); ">
                </div>
                <div class="goods-right">
                    <div class="goods-info goods-field">
                        <div class="goods-info-title">
                            @curent.title

                            
                        </div>
                        <div class="goods-info-short">
                            @curent.short_discribe
                        </div>
                    </div>
                    <div class="goods-price goods-field">
                        Цена: @curent.price
                    </div>
                    <div class="goods-seller goods-field">
                        @if (curent.seller != null)
                        {
                        Продавец:<a> @curent.seller.name </a>
                    }
                    </div>
                   
                </div>
                <div class="goods-buttons">
                    <a href="/Home/Goods/@curent.id" class="button-main button-sell">
                        Подробнее
                    </a>
                    <!--создает форму, отправка которой добавляет список в корзину-->
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("id", curent.id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="button-main button-sell" value="В корзину">
                 
                    }
                </div>


            </div>

        }
<div class="btn-group text-center">

        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
    }
</div>
            