@model IndexViewModel
@using Kenguru_four_.Models.ViewModels
@using Kenguru_four_.htmlHelpers

@{
    Layout = null;
}
    <script type="text/javascript"
            src="@Url.Content("~/Scripts/myAjax.js")">
    </script>
<div id="ajax-content">
    @if (Model != null)
    {
        foreach (Good curent in Model.ViewGoods)
        {
            <div class="goods">

                @{
                    string filePath = Url.Content("~/UploadFiles/Goods/" + curent.id + "/main.png");
                }
                <div class="goods-field goods-intro goods-col" style="background-image: url(@filePath); ">
                </div>
                <div class="goods-right goods-col">
                    <div class="goods-info goods-field goods-line">
                        <div class="goods-info-title">@curent.title</div>
                        <div class="goods-info-short">@curent.short_discribe</div>
                    </div>
                    <div class="goods-line" style="display:flex; flex-flow:row;">
                        <div class="goods-price goods-field">Цена: @curent.price</div>
                        <div class="goods-seller goods-field">
                            @if (curent.seller != null)
                            {
                                @Html.Label("Продавец:")<a> @curent.seller.name </a>
                            }
                        </div>
                    </div>

                </div>
                <div class="goods-buttons goods-col">
                    <a href="@Url.Action("Index", "Good", new {id = curent.id })" class="button-main button-sell">
                        Подробнее
                    </a>
                    <!--создает форму, отправка которой добавляет список в корзину-->
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("id", curent.id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="button-main button-sell" value="В корзину">

                    }
                </div>


            </div>

        }
        <div class="btn-group text-center">
            @Ajax.PageLinks(Model.PageInfo, x => Url.Action("GoodsPages", "Partial", new { page = x }))
        </div>
    }
</div>
